-# ここからhamlを書いていく
.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        名古屋コーチン
      %ul.main-header__left-box__menber
        Menber:
        %li.main-header__left-box__menber__name nizi
    = link_to "#", class:"main-header__edit-btn" do
      Edit
  .messages
    .message
      .message__user
        nizi
        .message__day
          2019/12/08(sun)02:30:00
      .message__text
        世界の山ちゃん
  .form
    .new-message
      .input-box
        type a message
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "hidden"}
    .input-send
      Send